
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bulbasaur</title>
</head>
<body>
  <header class="back">
    <a href="/" >
        <img src="/imgs/pokedexlogo.png" style="width: 140px;height: 50px">
    </a>
</header>
    <section>
        <a href="/<% nidorina.numero %>"  target="_blank" >
        <img src="<%= nidorina.image %>" class="pokemonIndex" alt="registered-Pokemon"/>
      </a>
        <p><%= "Name: " + nidorina.name %></p>
        <p><%= "Type: " + nidorina.type %></p>
        <p><%= "Description: " + nidorina.descricao %></p>
        <p><%= "Height: " + nidorina.altura %></p>
        <p><%= "Weight: " + nidorina.peso %></p>
        <p><%= "Category: " + nidorina.categoria %></p>
        <p><%= "Hability: " + nidorina.habilidade %></p>

    </section>
</body>
